baseURL = "/"
languageCode = "ja"
title = "Notation Co. JP"
theme = "stack"
defaultContentLanguage = "ja"
hasCJKLanguage = true
enableRobotsTXT = true

[permalinks]
  post = "/p/:slug/"
  page = "/:slug/"

[params]
  mainSections = ["post"]
  featuredImageField = "image"
  rssFullContent = true

[params.footer]
  since = 2025
  customText = ""

[params.dateFormat]
  published = "2006-01-02"
  lastUpdated = "2006-01-02 15:04 MST"

[params.sidebar]
  emoji = ":)"
  subtitle = "Activities from Notation Co., Ltd."
  description = "Company updates and product notes."

[params.sidebar.avatar]
  enabled = false
  local = true
  src = "img/avatar.png"

[params.article]
  math = false
  toc = true
  readingTime = true

[params.article.license]
  enabled = false
  default = ""

[params.comments]
  enabled = false
  provider = ""

[params.widgets]
  homepage = [
      { type = "search" },
      { type = "archives", params = { limit = 5 } },
      { type = "categories", params = { limit = 10 } },
      { type = "tag-cloud", params = { limit = 10 } }
  ]

[[params.widgets.page]]
  type = "toc"

[params.opengraph.twitter]
  site = ""
  card = "summary_large_image"

[params.defaultImage.opengraph]
  enabled = false
  local = false
  src = ""

[params.colorScheme]
  toggle = true
  default = "auto"

[params.imageProcessing.cover]
  enabled = true

[params.imageProcessing.content]
  enabled = true

[pagination]
  pagerSize = 15

[menu]

[[menu.main]]
  identifier = "posts"
  name = "Posts"
  url = "/"
  weight = 10

[[menu.main]]
  identifier = "about"
  name = "About"
  url = "/about/"
  weight = 20

[[menu.main]]
  identifier = "lecture"
  name = "研修"
  url = "/categories/lecture/"
  weight = 60

[[menu.main]]
  identifier = "education"
  name = "教育"
  url = "/categories/education/"
  weight = 70

[[menu.main]]
  identifier = "civictech"
  name = "シビックテック"
  url = "/categories/civictech/"
  weight = 80

[[menu.main]]
  identifier = "journalism"
  name = "報道"
  url = "/categories/journalism/"
  weight = 90

[related]
  includeNewer = true
  threshold = 60
  toLower = false

[[related.indices]]
  name = "tags"
  weight = 100

[[related.indices]]
  name = "categories"
  weight = 200

[markup.goldmark.renderer]
  unsafe = true

[markup.tableOfContents]
  endLevel = 4
  ordered = true
  startLevel = 2

[markup.highlight]
  noClasses = false
  codeFences = true
  guessSyntax = true
  lineNoStart = 1
  lineNos = true
  lineNumbersInTable = true
  tabWidth = 4
