{{ define "main" }}
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden) }}
{{ $pag := .Paginate ($filtered) }}

{{ with site.GetPage "page" "about" }}
<section class="article-list">
    {{ partial "article-list/default" . }}
</section>
{{ end }}

<section class="article-list--grid">
    {{ range $index, $element := $pag.Pages }}
    {{ partial "article-list/tile" (dict "context" . "size" "500x300" "Type" "section") }}
    {{ end }}
</section>

{{- partial "pagination.html" . -}}
{{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
{{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}